<%= render partial: "shared/header", locals: {title: "LIVE MAP" , back: maps_path ,single_page: ""} %>
<p id="notice"><%= notice %></p>
<div id="map" class="map m-2">
  <!-- OL map will be here  -->
</div>


<script type="text/javascript">
	// adding GPS DATA
	window.geojsonObject =  {
	  'type': 'FeatureCollection',
	  'crs': {
	    'type': 'name',
	    'properties': {
	      'name': 'EPSG:3857'
	    }
	  },
	  'features': [
		// TODO: add condition if there is map data for not
		{
	    'type': 'Feature',
	    'geometry': {
	      'type': 'Point',
	      'coordinates': ol.proj.fromLonLat([
        <%= Map.last.lon %>
        ,
        <%= Map.last.lat %>
        ])
	    }
	  }
		// condition ends here
		]
	};

	</script>
