<%= render partial: "shared/single_header", locals: {title: @video.title , back: videos_path, edit_page:"" } %>

<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-center w-100" style="background:black;" >
  <div style="width: 640px; height: 480px">
    <%if @video.clip.attached? then %>
  	 <%= video_tag(url_for(@video.clip), style:'width:100%; height:auto;', controls:'')  %>
    <% end %>
  </div>
</div>
<br>
<% if !@video.flag then %>
  <h1 class="fe fe-flag" style="font-weight:900;"></h1>
<% else %>
  <span class="fe fe-flag" style="color:gray font-size:2em;"></span>
<% end %>
<table class="table">
  <tr>
    <th>Description</th>
    <td> <%= @video.description %></td>
  </tr>
</table>
