<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

	<h1 class="h2"><%= title %></h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<% if back.present? and not(back.nil?) then %>
				<%= link_to 'Back', back , :class => "btn btn-sm btn-outline-secondary" %>
			<% end -%>

			<% if single_page.present? and not(single_page.nil?) then %>
				<%= link_to 'Show', single_page, :class => "btn btn-sm btn-outline-secondary" %>
			<% end -%>
			<% begin %>
					<% if new_page.present? and not(new_page.nil?) then %>
						<%= link_to 'Create New', new_page, :class => "btn btn-sm btn-outline-primary" %>
					<% end -%>
			<% rescue Exception => e %>
			<% end %>
		</div>
	</div>
</div>
