
<%= render partial: "shared/header", locals: {title: "Dashboard" , back: '',single_page: ""} %>

<div class="container">
	<div class="row">
    <div class="col-8">
			<div id="map" class="map">
				<!-- OL map will be here  -->
			</div>
		</div>
    <div class="col-4">
			<div class="table-responsive">
				<ul class="list-group">
					<a href="<%= sensors_path %>" class="list-group-item list-group-item-action">
						<span class="fe fe-bell"></span>
						View All sensors
					</a>
					<a href="<%= videos_path %>" class="list-group-item list-group-item-action">
						<span class="fe fe-activity"></span>
						View recorded videos
					</a>
				</ul>
			</div>
		</div>
  </div>
</div>

<br>
<hr>


<script type="text/javascript">

</script>
