<%= render partial: "shared/header", locals: {title: "Dashboard" , back: '',single_page: ""} %>

<div id="map" class="map">
  <!-- OL map will be here  -->
</div>

<script type="text/javascript">
	window.currentUrl = "maps/current.json";
	// adding GPS DATA
	window.geojsonObject =  {
	  'type': 'FeatureCollection',
	  'crs': {
	    'type': 'name',
	    'properties': {
	      'name': 'EPSG:3857'
	    }
	  },
	  'features': [
		<% if(Map.any?) then %>
		{
	    'type': 'Feature',
	    'geometry': {
	      'type': 'Point',
	      'coordinates': ol.proj.fromLonLat([
        <%= Map.last.lon %>
        ,
        <%= Map.last.lat %>
        ])
	    }
	  }
		<% end %>
		]
	};

</script>
